.login-container {
  margin-top: 20%;
  margin-bottom: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

.login-container * {
  font-family: inherit !important;
  font-weight: bold !important;
}

.login-avatar {
  background-color: #1d222f !important;
}

.login-button {
  background-color: #1d222f !important;
}