.footer--pin {
    position: relative;
    left: 0;
    bottom: 0;
}

footer {
    width: 100%;
    background-color: var(--navbar-color);
    color: var(--base-color);
    padding: 0.5em 0;
    text-align: center;
    border-top: none;
    margin-top: 0;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.footer-section {
    color: var(--secondary-text);
    list-style: none;
    flex: 1 1 200px;
    text-align: center;
    min-width: 100px;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 0.3em;
}

.footer-title,
.footer-section .footer-title {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--base-color);
}

.footer-section a {
    color: var(--secondary-text);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.3em;
}

.footer-section a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-bottom {
    color: var(--secondary-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-top: 1em;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    font-size: 0.85em;
}

.footer-bottom a {
    color: var(--secondary-text);
    text-decoration: none;
    font-weight: normal;
}

.footer-icons {
    display: flex;
    gap: 1em;
}

.footer-icons a {
    color: var(--secondary-text);
    font-size: 1.5em;
}

.footer-icons a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .footer-main {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 1em;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
}
